<p id="notice"><%= notice %></p>

<h1>Produtos</h1>
<div class="container">
  <div class="row">
    <% @produtos.each do |produto| %>
      <div class="col-xs-4">
        <center>
          <%= image_tag("download.png", :alt => "rss feed", width:100) %><br>
          <b><%= link_to produto.title, produto %></b><br>
          <b><%= produto.brand %></b><br>
          Categoria: <%= produto.category %><br>
          <b style="color:blue;"><%= produto.price %></b><br>
        </center>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Criar Produto', new_produto_path %>
